
body {
    padding-top: 5rem;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}
